* {
  padding: 0px;
  margin: 0px;
}

p, h1, h2, h3, h4, h5, h6, li, td, th {
  color: #33251e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Futura";
  font-weight: lighter;
  clear: both;
}

p, li, td, th {
  font-family: "Bodini" "New Baskerville" "Baskerville" serif;
}

li {
  margin-left: 2.5em;
}

a {
  color: #897260 /* #33386b */;
}

.home {
  color: #33251e;
}

img {
  width: 100%;
}

.caption {
  text-align: center;
  font-size: 12pt;
  margin-bottom: 10px;
}

html {
  margin: auto;
  border: none;
  background-color: #d1ae9c;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding: 0;

  position: relative;
}

.wrapper {
  padding: 10px;
}

.img-wrapper {
  width: 50%;
  float: right;
  padding: 0px 15px;
}

header {
  display: block;
  /*float: left;*/
  border-bottom: 2px solid #33251e;
  width: 100%;
}

#icon {
  float: left;
  width: initial;
  height: 60px;
  padding: 15px 20px;
}

header h1 {
  /*float: left;*/
  font-size: 24pt;
  color: #33251e;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
  clear: none;
}

header p {
  /*float: left;*/
  font-family: "Futura";
  color: #33251e;
  font-size: 14pt;
  padding-bottom: 10px;
  margin: 0;
}

header a {
  text-decoration: none;
}

footer {
  float: left;
  display: block;
  text-align: center;
}

footer > p {
  float: left;
  padding: 10px 10px;
  font-family: "Futura";
  font-size: 10pt;
  color: #33251e;
}

nav {
  /*float: left;*/
  position: block;
  text-align: center;
  border-bottom: 2px solid #33251e;
  margin-bottom: 10px;
  width: 100%;
  /*width: 600px;*/
}

nav:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.navigation {
  float: left;
  width: 33%;
  padding: 10px 0px;
  margin: auto;
  color: #33251e;
  font-weight: bold;
  text-decoration: none;
  font-family: "Futura";
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 13pt;
}

.navigation:hover {
  background-color: #33251e;
  color: #d1ae9c;
}

main {
  clear: left;
}

main p {
  font-size: 14pt;
  margin-bottom: 10px;
}

main h2 {
  margin-bottom: 10px;
  font-size: 20pt;

}

main h3 {
  margin-bottom: 5px;
  font-size: 16pt;
}

main ol, main ul {
  margin-bottom: 10px;
}

main li {
  font-size: 14pt;
}

main table {
  border-width: 1px;
  border-color: #33251e;
  border-collapse: collapse;
  clear: both;
}

main th {
  border-width: 1px;
  padding: 10px;
  border-style: solid;
  background-color: #897260;
  font-size: 14pt;
}

main td {
  border-width: 1px;
  padding: 10px;
  border-style: solid;
  font-size: 12pt;
}

main td:nth-child(1) {
  text-align: center;
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 20pt;
  }

  header p {
    font-size: 10pt;
  }

  #icon {
    height: 50px;
  }

  .navigation {
    font-size: 10pt;
  }

}

@media screen and (max-width: 450px) {
  #icon {
    float: none;
    display: block;
    margin: 0 auto;
    width: 30%;
    min-width: 80px;
    height: initial;
    padding-bottom: 0px;
  }

  header h1 {
    text-align: center;
  }

  header p {
    text-align: center;
  }

  .navigation {
    float: none;
    width: 100%;
    display: block;
    font-size: 12pt;
    padding: 5px 0px;
  }
}

@media screen and (max-width: 320px) {
  .img-wrapper {
    width: 100%;
    padding: 0px;
  }
  header h1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  header p {
    padding-left: 10px;
    padding-right: 10px;
  }
}